.App {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App--container {
  background-color: rgb(41, 38, 39);
  border-radius: 50px;
  border: 7.5px solid #000000;
  height: 900px;
  width: 400px;
  display: flex;
  flex-direction: column;
}
